.Room {
  .rooms {
    position: relative;
    padding: 8px;
    border-radius: 4px;
    width: 450px;
    border-radius: 5px;
    border: #ccc solid 3px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .create-room {
      width: 300px;
      height: 50px;
      background-color: rgb(33, 97, 193);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: #ccc solid 3px;
      padding: 8px;
      margin-bottom: 25px;
      cursor: pointer;
      font-family: "Dancing Script", cursive;
        font-size: 36px;
  
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
          0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
    }
    .join-room {
      display: flex;
      width: 300px;
      height: 50px;
      background-color: #e9c91a;
      border-radius: 10px;
      border: #ccc solid 3px;
      padding: 8px;
      font-family: "Dancing Script", cursive;
        font-size: 36px;
  
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
          0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
      input {
        outline: none;
        border: none;
        width: 150px;
      }
      .join-room-title {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
