.App {
    min-height: 100vh;
    position: relative;
    width: fit-content;
    .main-ui {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top:0;
        left: 0;
    }
}